:root {
  --ThemeMainBG: #edede9;
  --ThemeHeadBG: #d6ccc2;
  --ThemeHeadText: #4a4e69;
  /* 4c4238 */
  --ThemePrimaryBG: #f5ebe0;
  --ThemePrimaryText: #000000;
}
.App {
  text-align: center;
  height: 100vh;
  position: relative;
  background-color: var(--ThemeMainBG);
}

.Navbar {
  background-color: var(--ThemeHeadBG);
  margin-bottom: 0px;
}

a,
.nav-link {
  color: var(--ThemeHeadText);
}
.title {
  color: var(--ThemeHeadText);
}

.subRaw {
  background-color: var(--ThemePrimaryBG);
  color: var(--ThemePrimaryText);
}
.shadowDown {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 30%);
}

.todoBtn {
  width: 8 0px;
}

.rowElement {
  border-left: 1px solid #ddd;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.addRow {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
